@tag-prefix-cls: ~"@{css-prefix}-tag";
.@{tag-prefix-cls} {
    display: inline-block;
    .tag-button {
        display: inline-block;
        min-width: 83px;
        font-size: 12px;
        background: white;
        border-radius: 3px;
        color: #666666;
        overflow: visible;
        text-align: center;
    }
    .tag-badge {
        position: absolute;
        z-index: 2;
        right: -9px;
        top: -7px;
        border-radius: 8px;
        text-align: center;
    }
    .tag-badge.weui-icon-clear {
        color: @error-color;
    }
    .tag-default {
        color: @primary-color;
    }
    .tag-activated.weui-btn:after {
        border: 1px solid @primary-color;
    }
}
