@title-cell-prefix-cls: ~"@{css-prefix}-title-cell";
.@{title-cell-prefix-cls} {
    padding: 10px;
}

.@{title-cell-prefix-cls}.clear-top.weui-cells {
    &:before {
        border-top: none;
    }
}
